
.img{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* padding-top: 50px; */
     
    
}
.form_div{
    height: 600px;
    width: 30%;
    text-align: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-position: center;
   /* background-color:#f0eced; */
   /* border: black solid 1px;  */
   backdrop-filter: blur(2px);
   border-radius: 20px;
    color: black;
    font-size: 18px;
    display: flex;
   
    
   
 
    /* padding: 0; */


    background-position: top center;
        display: flex;
        justify-content: center;
        margin-left: 500px;
        /* margin-top: 30px; */
        /* margin-bottom: 50px; */
}
h2{
    text-align: center;
    text-decoration: underline;
    font-size: 34px;
/* box-shadow: 30px; */
    margin-top: 80px;
    color: black;
    /* background-color:#F2D7D5; */
    
}
.fo_rm{
   

font-weight: bold;
font-size: 15px;

}
input{
    /* padding-right: 50px; */
font-size: medium;
border-radius: 5px;
font-size: 18px;
}

button{
    /* border: 1px solid black; */
    font-size: 18px;
    margin: 5px;
    width: 90px;
    
    border-radius: 5px;
}
a{
    text-decoration: none;
    color: black;
 
}
